[2020-04-17 08:42] yoavniran opened #6 "netlify: publish storybook from release branch only"

[2020-04-17 08:46] yoavniran opened #7 "complete guides section"

[2020-04-17 08:47] yoavniran opened #8 "add cypress e2e infra"

[2020-04-17 08:48] yoavniran opened #9 "expose TS typings"
https://www.npmjs.com/package/tsd

[2020-04-17 08:49] yoavniran opened #10 "add welcome story to SB"

[2020-04-17 08:52] yoavniran opened #11 "add cypress integration tests for umd bundles"
test static pages that use the bundles

[2020-04-17 11:12] yoavniran opened #12 "complete README for chunked-uploady"

[2020-04-17 11:13] yoavniran opened #13 "complete README for upload-url-input"

[2020-04-17 11:13] yoavniran opened #14 "complete README for upload-drop-zone"

[2020-04-17 11:13] yoavniran opened #15 "complete README for retry-hooks"

[2020-04-17 19:54] yoavniran opened #16 "add e2e flag for uploady"
in e2e - dont initiate click on  file input
file data is passed through cypress command

[2020-04-19 09:50] yoavniran opened #17 "add bundlephobia badge to each package readme"

[2020-04-19 09:51] yoavniran opened #18 "move immer to dev deps"
check if it doesnt cause build issues
because immer isnt actually used in build it should be possibe to move to deps so its not counted by bundlephobia

[2020-04-21 21:37] yoavniran opened #19 "e2e for upload-drop-zone"

[2020-04-21 21:37] yoavniran opened #20 "e2e for retry-hooks"

[2020-04-21 21:37] yoavniran opened #21 "e2e for chunked-uploady"

[2020-04-21 21:37] yoavniran opened #22 "e2e for upload-button"

[2020-04-21 21:37] yoavniran opened #23 "e2e for upload-preview"

[2020-04-21 21:53] #8 closed

[2020-04-21 21:53] #22 closed

[2020-04-22 16:38] #10 closed

[2020-04-22 20:34] yoavniran opened #26 "esm build"

[2020-04-23 08:48] #18 closed

[2020-04-23 08:48] #12 closed

[2020-04-23 08:48] #17 closed

[2020-04-23 08:48] #14 closed

[2020-04-27 17:57] #23 closed

[2020-04-27 17:57] #21 closed

[2020-04-27 17:58] #9 closed

[2020-04-27 22:29] #15 closed

[2020-04-27 22:29] #13 closed

[2020-04-27 22:31] #16 closed

[2020-04-27 22:31] #26 closed

[2020-04-28 15:46] #20 closed

[2020-04-28 21:20] yoavniran opened #28 "multiple file upload e2e tests"

[2020-04-28 21:31] #19 closed

[2020-05-02 13:35] #6 closed

[2020-05-02 16:17] yoavniran opened #32 "progress doesnt always reach 100%"
both xhr sender and mock sender

[2020-05-02 21:19] #11 closed

[2020-05-02 21:53] #32 closed

[2020-05-05 21:25] yoavniran opened #34 "hide umd bundle stories from published SB"
ex: https://react-uploady-storybook.netlify.app/?path=/story/uploady--umd-core-ui

[2020-05-07 09:57] #7 closed

[2020-05-07 15:17] #28 closed

[2020-05-07 15:18] yoavniran opened #36 "support resumable uploads"
tus-sender

[2020-05-07 21:40] #34 closed

[2020-05-09 13:10] yoavniran opened #38 "make updateable dev only"
use updateable protection only in dev

[2020-05-11 23:21] dbousamra opened #39 "Resetting state"
What is the recommended way to reset the uploader. I.e. a user has uploaded a bunch of items, and they want to clear the finished batch(es) and start afresh. I guess I could trigger a complete remount of the component somehow.

[2020-05-12 07:00] yoavniran commented on #39
there is currently no explicit way to reset the uploader. I considered it but didnt come up yet with a solid use-case.
The upload information (batches, items) is cleaned upon completion by the uploader internals.

[2020-05-12 23:35] dbousamra commented on #39
Okay. What is your recommended approach then?

[2020-05-13 05:51] yoavniran commented on #39
again, not sure what's the use case.
indeed, re-rendering the <Uploady> component will cause a "reset" but I don't think its needed. You should be fine with rendering it once and letting it live.

[2020-05-14 07:36] #39 closed

[2020-05-21 03:16] alonfai opened #40 "Uploady Context upload and abort methods issues"
I'm creating an object for the uploadyContext API and trying to simulate events inside the context listener hooks, but neither seems to be working.

1. having `autoUpload = false` in the <Uploady /> component wrapper and calling uploadyContext.upload(batchId) => fail
2. having `autoUpload = true` in the <Uploady /> wrapper and calling uplodyContet.abort(itemId) => fail

[code]

[2020-05-21 06:26] yoavniran commented on #40
Hey Alon,
Can you add some information on what exactly you're trying to achieve? not sure I follow.
Why are you calling abort?
why are you trying to use autoUpload = false?

But I can share a few things that hopefully will be helpful:

uploadyContext.upload is for adding a new file to be uploaded so it should be called with a File object generally.

It's currently not possible to make pending uplo

[2020-05-21 06:28] yoavniran opened #41 "cant resume pending batches from UplodayContext"
need to expose method from context to call uploader.upload
reported by #40

[2020-05-21 07:41] alonfai commented on #40
Hi Yoav,

I'm working on a requirement for the client to be able to add files to a collection and manually triggers the upload process with an event on a button click. Hence why I use autoUpload=false and trying to mimic the upload using the context object (will wait for your new version with the fix)

The cancelling of the upload in any of the hooks worked as you suggested 👍

I believe it will be

[2020-05-21 07:53] #41 closed

[2020-05-21 08:10] yoavniran commented on #40
thanks for the feedback Alon!

version 0.1.12 is now published and includes the missing function:
https://github.com/rpldy/react-uploady/tree/master/packages/ui/uploady#processpending

I will review the doc and see how i can clarify or add more info so its easier to follow.

as for the type defs. Not sure I understand the issue.
Notice that the hook itself doesnt return anything (unless its a stat

[2020-05-21 08:22] alonfai commented on #40
Works well now, thanks.

For reference, what happens if I created several batch instances (e.g.: open the upload screen, select few files, closing it and reopen it again to select extra files that were not picked in the first time), will the `processing` method takes all files in all batches added or only the latest?

[2020-05-21 08:25] yoavniran commented on #40
all pending batches will be uploaded

[2020-05-21 08:25] #40 closed

[2020-05-31 18:43] #36 closed

[2020-07-05 14:48] kevbost opened #60 "tus-uploady: Support destination headers & clarify readme"
I noticed while trying to implement this package that the tus-uploady readme states:

[code]

Headers aren't passed through with the prop `destination={{url: "https://my-server", headers: {"x-custom": "123"}}}` even though the Readme states `all UploadOptions props can be passed to TusUploady`.

I would suggest either allowing custom headers or updating the Readme to make the `params` object more

[2020-07-05 16:22] yoavniran commented on #60
hey @kevbost

re headers - this is unexpected. destination.headers should be passed afaik. Sounds like a bug, ill check.

re params - these are generic params that are either sent as form data (when used with normal Uploady or Chunked-Uploady) or converted to the TUS Upload-Metadata header. What do you feel is missing?

re params - encoding. Will do.

thanks

[2020-07-05 16:46] kevbost commented on #60
I don't feel anything else is missing, I'm only suggesting that the docs on the topic need to be a little more explicit. Thank you!

[2020-07-05 17:12] yoavniran commented on #60
@kevbost Seeing as TUS uploads first start with a _create_ call and then subsequent chunks each get their own request, youd expect the custom header to be sent along with the _create_ call, I presume?

[2020-07-05 21:16] #60 closed

[2020-07-08 19:43] kevbost opened #62 "Begin upload on form onSubmit"
Hi again!

I'm having trouble parsing how to use `autoUpload={false}` in conjunction with form values.

I have a requirement to use the TUS protocol for uploading videos. The form has fields which populate the Upload-Metadata (params) values and they need to be set before the upload begins. (implementing that part isn't a problem, see screenshot for context)

I've crawled through the docs and pack

[2020-07-08 21:42] yoavniran commented on #62
Hey @kevbost
As I understand it, you want autoupload=false because you want to separate the file choosing from the upload action. So user can enter the fields either before or after selecting the file. Right?

You can use the [useRequestPreSend](https://github.com/rpldy/react-uploady/tree/master/packages/ui/uploady#userequestpresend-event-hook) hook for this. This [guide](https://github.com/rpldy/

[2020-07-16 15:02] deepakgogia opened #64 "Chunked Uploady does not support UploadButton"
I am using chunked upload feature but getting error Invariant Violation: Uploady - valid UploadyContext not found. Make sure you render inside <Uploady>.

I have resolved above error with to import chunkedUploady through "@rpldy/uploady".

I have gone through the code and  found that uploady is returning from chunkeduploady, so why i am getting this error.

Now chunkedSize and chunked are not supp

[2020-07-16 16:53] yoavniran commented on #64
Hey @deepakgogia

Im not sure exactly what problem you're having with chunked-uploady.
It would be easier to troubleshoot if you could provide it in something like codepen or codesandbox.

As you can see in [storybook](https://react-uploady-storybook.netlify.app/?path=/story/chunked-uploady--simple), there shouldnt be any problem using rpldy components/hooks rendered under <ChunkedUploday>

I've a

[2020-07-16 16:54] yoavniran commented on #62
closing due to inactivity

[2020-07-16 16:54] #62 closed

[2020-07-17 15:33] deepakgogia commented on #64
Thanks for your help..

I was getting error due to version mismatched of uploady/chunked-uploady/upload-button, now it is working fine.

Is there any way to use dropzone instead of upload-button? because i have two scenarios where i want to use as button and drop zone

[2020-07-17 17:48] deepakgogia commented on #64
I am using uploady dropzone feature but i want user can drag/drop or click to upload his files. Can we achieve the same?

[2020-07-18 11:44] yoavniran commented on #64
Hey @deepakgogia
It would have been possible to use both UploadButton and UploadDropZone but I also wanted to check if you could combine them as you suggested.

See this sandbox - https://codesandbox.io/s/react-uploady-dnd-asuploadbutton-jk9bg?file=/src/App.js

Notice, that you do need to **upgrade** the rpldy deps to **0.3.2**.

[2020-07-18 22:08] deepakgogia commented on #64
Yes, that example is perfectly working fine for me.

But i also want files information that user will upload.

fileFilter method will return boolean but is there any direct way to apply fileType and files size and video duration.

see this -> _https://codesandbox.io/s/react-uploady-dd-btn-x1zrv?file=/src/App.js_

[2020-07-19 13:18] yoavniran commented on #64
fileFilter gives you the ability to filter out files.
any of the event hooks gives the ability to inspect the file(s) being uploaded:
https://github.com/rpldy/react-uploady/tree/master/packages/ui/uploady#hooks

[2020-07-19 13:18] #64 closed

[2020-07-24 15:39] anonymous-coder opened #68 "Nextjs: ReferenceError: regeneratorRuntime is not defined"
Keep getting this error, i have 'babel/next' in my babelrc file.

`ReferenceError: regeneratorRuntime is not defined
    at /Users/m5/projects/meet_apps/pwa/node_modules/@rpldy/uploader/lib/queue/batchHelpers.js:104:46
    at Object.<anonymous> (/Users/m5/projects/meet_apps/pwa/node_modules/@rpldy/uploader/lib/queue/batchHelpers.js:136:2)
    at Module._compile (internal/modules/cjs/loader.js:1138

[2020-07-24 18:51] yoavniran commented on #68
Hey @anonymous-coder can you share a reproducing repo or sandbox?

[2020-07-24 20:06] yoavniran commented on #68
In any case. this should be helpful: https://github.com/babel/babel/issues/9849#issuecomment-487040428

[2020-07-24 20:24] anonymous-coder commented on #68
Ty, you can close this, i really shouldn't have bothered you with this. Excited to put your package in my project for production btw

[2020-07-25 08:16] yoavniran commented on #68
no problem. Really happy to hear it!
Would love to hear about your use-case for Uploady

[2020-07-25 08:16] #68 closed

[2020-08-02 03:17] efriandika opened #69 "TypeError: proxy[key] is null"
Hi.. This library is really great.. I like this concept..
But, when I tries to implement it in my next.js app (just copy and paste from your example):

[code]

I got this error:
[code]

Any idea about this error?

[2020-08-02 03:32] efriandika commented on #69
[UPDATE]

When I use previous version: v0.3.2, it works perfectly
Apparently, there is a problem with v0.4.0

[2020-08-02 06:49] yoavniran commented on #69
thanks @efriandika
please share a reproducing repo/sandbox so i can see the error in runtime.

[2020-08-02 06:50] efriandika commented on #69
Hi.. thanks for quick reply,

I will create a sample project for this, and letting you know then

[2020-08-03 16:46] yoavniran commented on #69
hey @efriandika
please check if 0.4.1 fixes your problem. #71 fixes a similar issue to the one your reported

[2020-08-03 17:49] efriandika commented on #69
It works now... :D great...
I hace tested it...

Thank you very much

[2020-08-03 17:49] #69 closed

[2020-09-10 00:36] efriandika commented on #68
Hi.. Is id possible to avoid `regenerator-runtime` use in this library?

[2020-09-15 06:27] omcg33 opened #76 "Window is not defined - ssr problem"
Trying to use your great package with SSR.
But I got error on server
[code]

My config
"@rpldy/upload-drop-zone": "^0.5.0",
"@rpldy/uploady": "^0.5.0",

[code]

[2020-09-15 07:50] yoavniran commented on #76
thanks @omcg33
is there a repo or codesandbox i can reproduce the issue with? It will save a lot of time

[2020-09-15 08:00] omcg33 commented on #76
Sorry. But sandboxes does not has functionality for SSR.

I think solution is - Dont read from window without check typeof window !== "undefined".

I change
/*/node_modules/@rpldy/uploader/lib/utils.js:16:40
to
[code]

And my server normaly render Your Component

[2020-09-15 12:08] omcg33 opened #77 "Hide upload Button"
Can i hide upload Button when Previews count is = 5?
[code]

Where can i get previews?

[2020-09-15 12:56] yoavniran commented on #77
check out 'onPreviewsChanged' in https://github.com/rpldy/react-uploady/tree/master/packages/ui/upload-preview#props

[2020-09-16 06:15] omcg33 commented on #77
Thanks. It works

[2020-09-16 06:15] #77 closed

[2020-09-16 12:28] omcg33 commented on #76
Can i help you for faster fix?

[2020-09-16 17:27] yoavniran commented on #76
thanks @omcg33
fixing the window only revealed additional issues. I expect to have a fix in the coming day or two

[2020-09-17 07:18] oferitz opened #79 "'asUploadButton' causing React warning"
Using `asUploadButton` like in the example causing the following warning in the console:

[code]

**Versions**
Uploady 0.5.0
React 16.13.1

**Code**

[code]

[2020-09-17 07:30] omcg33 opened #80 "Retry does not work"
I try to made retry UI by your example https://react-uploady-storybook.netlify.app/?path=/story/retry-hooks--with-retry-and-preview.

But i got this error after start function retry = useRetry();

I cannot retry item when current batch is not finished.

If i create 3 batch by 1 item in it, retry works perfectly.

[code]

[code]

[2020-09-17 07:32] omcg33 commented on #80
[code]

[2020-09-17 07:41] omcg33 commented on #79
Look in UploadButton.js
Where is a correct example of usage asUploadButton.

[2020-09-17 11:52] yoavniran commented on #79
asUploadButton makes it possible to gain access to the underlying component with a ref.
for this it passes along the ref to the component your provide it (your UploadButton)
so you should wrap your component with React.forwardRef:

[code]

[2020-09-17 12:17] yoavniran commented on #79
Thanks Ofer. Good point about the docs. I will update.

[2020-09-17 15:41] #76 closed

[2020-09-18 21:34] #80 closed

[2020-09-18 21:41] yoavniran commented on #79
[done](https://github.com/rpldy/react-uploady/tree/master/packages/ui/upload-button#custom-upload-button-asuploadbutton).

[2020-09-18 21:41] #79 closed

[2020-09-19 10:48] yoavniran commented on #76
@omcg33 please check with 0.6.0. SSR support is now released

[2020-09-19 10:48] yoavniran commented on #80
@omcg33 please check with 0.6.0. fix for this was just released

[2020-09-21 06:06] omcg33 commented on #76
Ssr works in 0.6.0
Thanks

[2020-09-21 06:11] omcg33 commented on #80
Retry works, but i got something strange.
I abort and retry items in batch of 7 items, and got this error
[code]
Steps to reproduce:
1. Slow network speed
2. Upload 10 items in 1 batch on multiply
3. Abort and retry all of items step by step
4. On the last item a got error

[2020-09-21 08:14] yoavniran commented on #80
Thanks. will look into it.
in the meantime, can you plz open a new bug?

[2020-09-21 10:44] omcg33 opened #83 "Unexpected deletion of uploading images when trying to retry"
I abort and retry items in batch of 7 items, and got this error

[code]
And all my not uploaded items is disappeared!

Steps to reproduce:

1. Slow network speed
2. Upload 10 items in 1 batch on multiply
3. Abort and retry all of items step by step
4. Wait then about 20% of items will be uploaded
5. Items disappeared and you got error

[2020-09-21 21:19] yoavniran commented on #83
I've tried reproducing the issue using this [story](https://react-uploady-storybook.netlify.app/?path=/story/retry-hooks--with-retry-and-preview) and wasnt able to.
Im also surprised that it threw this error (with that stacktrace) because it means something weird happened with the internal state.

I am adding a [conditional](https://github.com/rpldy/react-uploady/commit/33bec1ed098d35146a525be2cc3

[2020-09-25 12:14] RubenGarcia opened #86 "tus-uploady: Location not available in uploadResponse on UPLOADER_EVENTS.ITEM_FINISH"
**Describe the bug**
When uploading a file using tus-uploady, the Location is provided by the tus server.
However, on UPLOADER_EVENTS.ITEM_FINISH I seem to be getting the response of the last PATCH:
	data: ""
	headers:
	cache-control: "no-store"
	content-length: "0"
	content-type: "text/html; charset=utf-8"
	tus-res	umable: "1.0.0"
	upload-offset: "469"
instead of the response of the last POST wit

[2020-09-25 22:33] yoavniran commented on #86
thanks @RubenGarcia for the detailed info.
fix will be available soon as part of 0.6.1

the location info will be accessible as a new property of the item's `uploadResponse`

for example, through the item finish hook, you'll be able to access it:

[code]

or through an event handler:

[code]

[2020-09-26 12:09] #86 closed

[2020-10-01 15:00] yoavniran commented on #83
@omcg33 version 0.7.0 is out.
please let me know if you're still facing issues after upgrading

[2020-10-01 15:00] #83 closed

[2020-10-01 15:00] yoavniran commented on #86
@RubenGarcia 0.7.0 is now out. Please check and let me know if there are any issues

[2020-10-02 14:34] RubenGarcia commented on #86
I confirm I can access the location.

[2020-10-14 11:31] RubenGarcia opened #91 "Upload fails with a 0-byte file."
**Describe the bug**
When I try to upload a 0-byte file, I get the following error:
[code]
**To Reproduce**
Steps to reproduce the behavior:
1. Install
    "@rpldy/tus-uploady": "^0.7.0",
    "@rpldy/uploader": "^0.7.0",
    "@rpldy/uploady": "^0.7.0",
2. Use code such as
const uploader = createUploader({
			enhancer: tusEnhancer,
    			autoUpload: true,
    			grouped: false,
			destination: {ur

[2020-10-20 10:13] yoavniran commented on #91
Hey @RubenGarcia
will have a fix for this soon.
out of curiosity, is this a common issue? uploading empty file? whats the use-case?

[2020-10-21 13:43] claireryberg opened #92 "The `accept` parameter is ignored when dragging and dropping files."
**Describe the bug**
The `accept` parameter is ignored when dragging and dropping files. For example, when set to `accept="image/*"`, non-image file types cannot get uploaded from the `UploadButton` but they _are_ uploaded when dragging and dropping.

**To Reproduce**
Steps to reproduce the behavior:
1. If you click the `UploadButton` in the provided codesandbox and the native file browser will ap

[2020-10-21 13:53] yoavniran commented on #92
the _accept_ parameter is indeed only for the file input.
I suggest using the _[fileFilter](https://github.com/rpldy/react-uploady/blob/master/guides/FileFilter.md)_ function to ensure you only upload the desired files, regardless of how they are provided

[2020-10-21 14:04] claireryberg commented on #92
I see, it wasn't clear to me that `accept` is scoped only to the file browser. Thanks!

[2020-10-22 06:34] #92 closed

[2020-10-22 08:27] #91 closed

[2020-10-22 18:25] RubenGarcia commented on #91
If the users are left to upload their files, this is something that might happen. It is more user-friendly to have one upload button than two (tus vs normal upload). I discovered it because one of my files did not close correctly and I ended up with a 0-byte file which I tried to upload without noticing it was empty.

[2020-10-22 18:58] yoavniran commented on #91
Got it. Thanks. Should be fixed now in 0.7.1

[2020-11-16 15:04] CodeLuca opened #100 "Invalid Package Config when added via yarn and imported"
Error [ERR_INVALID_PACKAGE_CONFIG]: Invalid package config /Users/lucamarchal/code/ProvePay/node_modules/@rpldy/uploady/package.json. "exports" cannot contain some keys starting with '.' and some not. The exports object must either be an object of package subpath keys or an object of main entry condition name keys only.

[2020-11-16 15:11] yoavniran commented on #100
thanks @CodeLuca - #101 should fix this very soon.

[2020-11-16 15:12] CodeLuca commented on #100
What can I do to use the library in the mean time?

[2020-11-16 15:12] yoavniran commented on #100
install 0.7.1

[2020-11-16 15:16] CodeLuca commented on #100
Same issue v0.7.1

`Error [ERR_INVALID_PACKAGE_CONFIG]: Invalid package config /Users/lucamarchal/code/ProvePay/node_modules/@rpldy/shared/package.json. "exports" cannot contain some keys starting with '.' and some not. The exports object must either be an object of package subpath keys or an object of main entry condition name keys only.
    at isConditionalExportsMainSugar (internal/modules/esm/

[2020-11-16 15:20] CodeLuca commented on #100
v0.6.0 is last working version fyi.

[2020-11-16 15:21] yoavniran commented on #100
exports field was added in 0.7.2 so not sure how thats possible.
try removing node_modules/@rpldy completely and then do: yarn/npm add/i `@rpldy/uploady@0.7.1

[2020-11-16 15:29] yoavniran commented on #100
0.7.3 is available now. @CodeLuca Please confirm if issue solved

[2020-11-16 16:35] CodeLuca commented on #100
Great response times, thanks man

[2020-11-16 16:40] CodeLuca commented on #100
Need to do this for the ui packages as well
upload-preview isn't working still

[2020-11-16 16:45] yoavniran commented on #100
thanks @CodeLuca

- https://github.com/rpldy/react-uploady/blob/master/packages/ui/upload-preview/package.json

- https://unpkg.com/@rpldy/upload-preview/package.json

All packages were updated. its very strange you're still seeing this problem but im guessing it might be some kind of local cache issue

[2020-11-16 17:40] CodeLuca commented on #100
Error [ERR_INVALID_PACKAGE_TARGET]: Invalid "exports" main target "lib/cjs/index.js" defined in the package config /Users/lucamarchal/code/ProvePay/node_modules/@rpldy/uploady/package.json; targets must start with "./"

[2020-11-16 17:41] CodeLuca commented on #100
Cleared all my yarn cache.

[2020-11-16 18:24] yoavniran commented on #100
I see its a little different error now. I will fix.
Unfortunately Im not seeing this error when i install locally (or in codesandbox)
How are you installing exactly?
what yarn version?
when do you see the error?

[2020-11-16 18:26] CodeLuca commented on #100
See the error when just importing uploady into my project anywhere. I'm using node version 14.15.0, yarn version 1.19.1 in a fairly basic project.

[2020-11-16 21:51] yoavniran commented on #100
From what little I could find online, seems like its not ready for use until npm@7

So im reverting the use of exports. Will be out in 0.7.4

Im still unclear on "See the error when just importing uploady" - adding an import is not an action that does much until you build/run your project, for example by bundling with webpack.

I tried adding 0.7.2 or 0.7.3 in a project that uses storybook and I s

[2020-11-16 21:57] #100 closed

[2020-11-22 16:30] yoavniran opened #102 "Who's Using and How?"
# Using Uploady in Production?

## Or are you planning to?

Please share your use-case and company (if relevant).
It will be great to know how Uploady is used in the wild 🧐

[2020-11-27 20:08] teejteej opened #103 "Form data ordering"
Hi,

Some services like S3 stop reading form data once the 'file' value has been reached.
When looking at the uploady POST request, it starts with the 'file' value, and so the other values like 'key' that are needed for S3, are ignored.

Is there any way in which the order of values for the POST can be changed so that 'file' comes last?

[2020-11-28 09:23] yoavniran commented on #103
I'll create a PR that adds the file after the params, so it is read last.
Dont think it should affect anyone else

Technically, you could create a custom sender that does this. ([Drive-Uploady](https://github.com/rpldy/drive-uploady/blob/master/src/getDriveSender.js#L41) uses this capability) It would be pretty simple but its not documented so I'd advise to wait for the next minor version (I'll re

[2020-11-28 09:32] teejteej commented on #103
Excellent thanks!

[2020-11-28 10:02] #103 closed

[2020-11-28 10:14] yoavniran commented on #103
@teejteej  0.8.0 is released. Hopefully it solves the issue with S3.

[2020-11-28 11:38] teejteej opened #105 "Adding new files via context.upload(file) doesn't always trigger uploading"
When calling context.upload(file), it randomly seems to not trigger the upload process. autoUpload is set to true.

Trying to force a uploadyContext.processPending() doesn't do anything either.

UPLOADER_EVENTS.BATCH_ADD is successfully called with the correct file though.
Uploadhandler's useRequestPreSend is not called.

Following code is used:
`<Uploady>
  <UploadHandler />
  <UploadButton class

[2020-11-28 15:03] yoavniran commented on #105
Its hard to say whats going wrong here. Definitely strange.
Please share a repro sandbox/codepen/etc

[2020-11-29 15:52] teejteej commented on #105
I've moved `<Uploady ...>` lower into component hierarchy, and now the issue is resolved.
I'm not sure anymore how to reliably produce an example, so I guess the issue can be closed.

[2020-11-29 15:52] #105 closed

[2020-11-29 18:29] yoavniran commented on #105
thanks. interesting issue. if it comes back definitely let me know.
I suspect it may have something to do with re-renders. Uploady should typically be placed very high if not at the top of the tree to avoid needless re-renders. Of course, ensuring memoized props is also important.

[2020-11-30 01:14] jordie23 commented on #76
I think there's still an issue here: https://github.com/rpldy/react-uploady/blob/7a60edb7e81085dded8a6d78888060945a1e1066/packages/core/simple-state/src/utils.js#L10

I'm getting `ReferenceError: File is not defined` on the server side

[2020-11-30 07:04] yoavniran commented on #76
@jordie23 that would make sense since File isnt available in Node.

However, I dont understand how you are getting to this point in the code on the server side. This flow is only expected to run on the client (since it means an upload has begun).

Please open a new issue and add more details about how you are using Uploady and any other detail about this error (stacktrace)

A reproducing sandbox/r

[2020-11-30 07:36] jordie23 opened #106 "Server side error: "ReferenceError: File is not defined""
**Describe the bug**
When using Uploady in a SSR app, it throws this error on the server side. `"ReferenceError: File is not defined"`

**To Reproduce**
- Install NextJS (I assume just using this next create app would be the quickest way https://nextjs.org/docs/api-reference/create-next-app ).
- Install `npm i @rpldy/uploady`
- Create a file in next `pages/test.js` and use the code provided below

[2020-11-30 08:00] teejteej commented on #103
Thanks! Can confirm it fixes S3 uploading.

[2020-11-30 22:34] #106 closed

[2020-11-30 22:46] yoavniran commented on #106
thanks for the details @jordie23
should be fixed now in 0.8.1

[2020-12-01 01:25] jordie23 commented on #106
Amazing, thanks mate!

[2020-12-01 09:38] dbousamra commented on #102
We are using it in production:
![image](https://user-images.githubusercontent.com/648137/100722812-bec89380-340c-11eb-851d-7c441457c00e.png)

Have had no major issues.

[2020-12-01 11:27] yoavniran commented on #102
That's awesome @dbousamra
Who's "we"? 🙂

[2020-12-06 09:15] oferitz commented on #102
We at [Duality](https://dualitytech.com/) using it. mostly with chunk-uploady to upload very large data files.
It's an awesome library, thanks for creating it ❤️

[2020-12-06 10:05] oferitz opened #108 "Abort event for abortAll?"
This is the way i'm using `chunked-uploady`:

[code]

As you can see in order to abort the upload i'm forced to maintain a state with the current batch id.
What I really would like is to use the `abortAll` hook since I really want to cancel everything in this case. But it seems like `abortAll` doesn't trigger the `useBatchAbortListener` nor does it have his own abort event...

I Wonder if i'm miss

[2020-12-06 17:58] yoavniran commented on #108
What abortAll does is call abort on each item (pending or running)
So there would be an abort even for each item but indeed, nothing else.

What would your preferred solution be? An abortAll event/hook?

[2020-12-07 08:41] oferitz commented on #108
@yoavniran An abortAll hook similar to `useBatchAbortListener` will be great.
Thanks.

[2020-12-07 09:16] oferitz opened #109 "Upload button doesn't trigger upload after abort"
Here is the reproduce link: https://codesandbox.io/s/rough-lake-5v98z

1. Start a new upload (with large file so you'll have enough time to click the abort).
2. Abort the upload with the abort button.
3. Try to start a new upload.

After choosing a file in the file dialog, the upload process will not start.
As far as I can tell it only happens after abort. If you let the upload process to complete

[2020-12-07 11:08] yoavniran commented on #109
sandbox is empty... If you can update it so it reproduces, that will be great
I will try and check later myself to see whats the issue

[2020-12-07 11:21] oferitz commented on #109
@yoavniran Sorry, I forgot to save...try now

[2020-12-07 22:18] yoavniran commented on #109
problem is with abort flow in chunked sender (normal upload abort works fine)
Should have a fix in the next day or two

[2020-12-08 06:44] oferitz commented on #109
@yoavniran Great. Thanks for the quick response.

[2020-12-09 19:22] #108 closed

[2020-12-09 20:47] #109 closed

[2020-12-09 21:23] yoavniran commented on #108
https://github.com/rpldy/react-uploady/tree/master/packages/ui/uploady#useallabortlistener-event-hook

[2021-01-05 20:38] getsetbro commented on #39
What is the best way tell the component to quit showing the progress-bar when the upload is done? Thanks

[2021-01-06 08:49] yoavniran commented on #39
@getsetbro Id be happy to answer but feel its less effective here. Can you ask on stackoverflow? That way its more findable for future reference as well

[2021-01-06 11:25] dave-ok opened #117 "modifying inputFieldName prop does not reflect in formData"
**Describe the bug**
I'm not sure if I am doing this right or if this is a bug, but I have been trying to modify the default `inputFieldName` prop from "file"  to a custom name, say "myCustomField" so that on submission/upload the field name of the file in formData will be "myCustomField". However, even after modifying the `inputFieldName` prop on the `Uploady` component, the field retains the "fi

[2021-01-06 11:57] yoavniran commented on #117
I see you pass `fieldName` to the CustomUploader but not to Uploady, is that the case or just the example here?

On another note,  its inadvisable to put <Uploady> inside a component that re-renders on every state change. I recommend putting it at a higher level of your app

[2021-01-06 12:06] dave-ok commented on #117
Thanks @yoavniran. I forgot to include the `inputFieldName` prop here (I did locally). I have updated the sample code to reflect this. The CustomUploader component here is just a helper to keep these components compact. CustomUploader is actually more top-level in the grand scheme of things. Is there something else I am missing concerning the inputFieldName?

[2021-01-06 13:54] dave-ok commented on #117
Hi again @yoavniran. Thanks for this amazing library that you built. I am sure you must have spent a lot of time and effort to get it to where it is right now and digging through your own code can be daunting at times.

So, I stumbled across a property, [filesParamName](https://github.com/rpldy/react-uploady/blob/f1990fec4e8c234a7f2d74e4e4868169559911b2/packages/core/shared/src/types.js#L10) in yo

[2021-01-06 14:04] yoavniran commented on #117
hey @dave-ok great job finding that in the code.
There are two things here:

1) There is a bug. The way you did it in your first example should work. Its an easy fix so I will have it ready today/tomorrow
2) It is also possible to set the param name as part of the `destination` object. The idea is that both can be set, the destination one overrides the UploadOptions one. This way its possible to u

[2021-01-06 14:09] dave-ok commented on #117
Awesome! That makes a lot of sense. I will proceed with my current implementation, and maybe decide to stick with or modify it when the patch is ready. Thanks

[2021-01-06 16:41] getsetbro commented on #39
@yoavniran Sure. https://stackoverflow.com/questions/65599743/recommended-way-to-stop-showing-progress-with-react-uploady

[2021-01-06 22:26] #117 closed

[2021-01-07 09:39] yoavniran commented on #117
@dave-ok v0.8.3 is out. issue should be fixed.

[2021-01-08 09:24] LukasOchmann opened #119 "Abort not working on autoUpload = false OR Who to remove one file from the List?"
**Describe the bug**
When autoUpload is false and abort is called the item will not be removed .

**Expected behavior**
Abort deletes the file from the list OR a remove method is provided.

**Versions**
    "@rpldy/uploady": "^0.8.3",
    "@rpldy/upload-drop-zone": "^0.8.3",
    "@rpldy/uploader": "^0.8.3",
    "@rpldy/sender": "^0.8.0",
    "@rpldy/shared": "^0.8.0",

**Code**
[code]

[2021-01-08 10:52] yoavniran commented on #119
@LukasOchmann is this the actual code youre using?
the hooks you use in this code are outside the <Uploady> context provider. So this wont work.

You should actually be getting an error.

If this isnt the actual code, please provide an updated version or codesandbox

[2021-01-08 11:32] LukasOchmann commented on #119
It is an reduces version. My Example was wrong.

[2021-01-08 11:42] LukasOchmann commented on #119
@yoavniran i created a Sandbox: https://codesandbox.io/s/vibrant-cdn-b25h6?fontsize=14&hidenavigation=1&theme=dark

[2021-01-08 14:47] yoavniran commented on #119
There are a few things going on here:

- Currently abort cannot be used on items that are not already uploading.

- There is currently no way to clear pending uploads (autoUploads = false) from the UI components. The Uploader instance does have a  [clearPending](https://github.com/rpldy/react-uploady/blob/60f275e38fae2efd035829d2b6caa8d88d1bd72f/packages/core/uploader/src/uploader.js#L98) method b

[2021-01-10 10:52] yoavniran commented on #117
thats very strange as I dont see what changed between these versions that could cause this problem. The upload-button packages wasn't changed at all.

I created a [sandbox](https://codesandbox.io/s/react-uploady-asuploadbutton-9ycrc?file=/src/App.js) to test 'asUploadButton' with 0.8.3 and there is no error.

Please share a repro sandbox that I can look into

[2021-01-10 13:58] dave-ok commented on #117
I have tried to reproduce in a sandbox but no errors there...strange. https://codesandbox.io/s/hungry-silence-i0vm8?file=/src/App.js
There may be some underlying issues I haven't detected yet, but why they will only surface after an update is what beats me. All I have to do is downgrade, no code change and the problem goes away.

I might just proceed with the previous version till I can make out t

[2021-01-10 15:00] yoavniran commented on #117
it is quite strange as I cant think of any reason why this would happen.
Perhaps try deleting node_modules and reinstalling everything.
Also make sure all Uploady packages in use are upgraded to 0.8.3

[2021-01-11 06:31] LukasOchmann commented on #119
Thank you for your Response and for accepting it as an enhancement,

yes line 43 was a mistake, i was in a hurry....

i also prefer an solution wich modifies the abort method. With an extra method for that usecase i had to evaluate the current files state instead of simply aborting it.

As an alternativ to exposing the Uploder instance, could the Uplody take a prop "instance" wich takes in an cust

[2021-01-11 09:50] yoavniran commented on #119
I wouldnt like to expose the uploader instance unless there's a very strong case for it

In any case, Ive a solution I believe will work nicely. Abort will take care of pending uploads and Uploady context will have the clearPending method available.

This way you'll be able to cancel individual (pending) uploads or all of them together

[2021-01-12 12:32] LukasOchmann opened #122 "Pending and Concurent Upload: Upload of Items is Triggered several Times"
**Describe the bug**
When Uplody is created with autoUpload = false and concurrent = true, upload of Items is triggered several Times.

**To Reproduce**
See this Sandbox: https://codesandbox.io/s/vibrant-cdn-b25h6?fontsize=14&hidenavigation=1&theme=dark&file=/src/App.js
1. Choose 2 files at once. Click Upload: in the console you can see "batch-1.item-2 Uploading" was logged 2 Times
2. Choose 2 fil

[2021-01-12 14:40] LukasOchmann opened #123 "Request for a new event "ALL_FINISHED" and useAllFinishedListner-hook"
**Is your feature request related to a problem? Please describe.**
After all upload are done i want to show an Result, wich file got uploaded and wich did not. Currently only the first finished batch is Shown in my results.

**Describe the solution you'd like**
like the event ALL_ABORT an ALL_FINISCHED event and an correlated hook would be my preferred solution.
Triggered when the last pending bat

[2021-01-13 09:25] yoavniran commented on #122
sounds like a bug. I will look into it soon

[2021-01-13 09:34] yoavniran commented on #123
the difference with ALL_ABORT is that it is triggered as response to a specific action that happens once. While file uploading is asynchronous and therefore harder to pin down.
Since uploads can always be added to the uploader, it cannot really tell when uploading is done, so an ALL_FINISHED event makes less sense.

You can achieve a similar result with tracking BATCH_START and BATCH_FINISH in you

[2021-01-13 09:54] LukasOchmann commented on #123
I will try to create an custom hook and will respond my results once i am finished.

[2021-01-13 15:27] #119 closed

[2021-01-13 22:33] yoavniran commented on #122
This is fixed in the latest version (0.9.0)
You can see in this updated [sandbox](https://codesandbox.io/s/react-uploady-concurrent-with-pending-qqwy3?file=/src/App.js)
I had to fix a couple of minor issues from your sandbox but it looks good now.
Let me know if youre facing any other issue

[2021-01-13 22:33] #122 closed

[2021-01-14 06:56] LukasOchmann commented on #122
Awesome thank you

[2021-01-15 13:27] yoavniran commented on #123
closing for now.

[2021-01-15 13:27] #123 closed

[2021-01-21 11:53] LukasOchmann opened #126 "useBatchAbortListener not triggerd when abortAll is executed"
**Describe the bug**
when the `abortAll` method returned from use `useAbortAll` is called, Listeners registered by `useBatchAbortListener` do not trigger

**To Reproduce**
See this Sandbox: https://codesandbox.io/s/empty-breeze-du608?file=/src/App.js
1. Click on 'Upload', choose a file.
2. Click on 'Go'
3. Click on 'Abort all'
4. In the Console, the click was detected. But the `console.log` from t

[2021-01-21 13:13] yoavniran commented on #126
Hi @LukasOchmann
Specifically this isnt considered a bug because this behavior (or lack thereof) is by design.
When abort all is used, all of the items are aborted, regardless of their batches.

When I built it like this, I didnt consider a use-case where the respective batches abort event will be needed.
As it is, I consider this an enhancement rather than a bug.

It would help if you could expan

[2021-01-22 08:24] LukasOchmann commented on #126
Hi @yoavniran
thanks for Clarifying.

I found an other way, so i guess this issue can be closed.

[2021-01-22 10:43] yoavniran commented on #126
Great. If you like, you can add your solution in the [discussions](https://github.com/rpldy/react-uploady/discussions) section for others to learn from.
Thanks!

[2021-01-22 10:43] #126 closed

[2021-01-25 20:37] srivassid opened #129 "Uploady not uploading large files"
**Describe the bug**
I can upload small image files without a problem. But when i try to upload large files they are not uploaded. I tried a fileFilter with max file size set to a very large number but to no avail.

**To Reproduce**
Steps to reproduce the behavior:
1.Select a large image file
2. Click on submit
3.Check if it is uploaded or not
4. See error

**Expected behavior**
Large image files

[2021-01-25 21:18] srivassid commented on #129
Found the source of the issue, was rendering the component too early. Uploady works fine.

[2021-01-25 21:18] #129 closed

[2021-02-05 09:05] #102 closed

[2021-02-19 05:11] void-m4110c opened #132 "How can I get back the response from server"
Hi,

I'm uploading a csv file and some additional parameters to a server.

It's just an upload button to select the file in an uploady component, which is embedded in a table:
[code]

I know that the upload works correctly, but is there any way that I can get the HTTPResponse from this upload?

Thanks!

[2021-02-19 08:02] #132 closed

[2021-02-19 08:13] void-m4110c opened #134 "How can I get the response from server"
Hi,

I'm uploading a csv file and some additional parameters to a server.

It's just an upload button to select the file in an uploady component, which is embedded in a table:
[code]

I know that the upload works correctly, but is there any way that I can get the HTTPResponse from this upload?

Thanks!

[2021-02-19 08:17] yoavniran commented on #134
see my answer in the [discussions area](https://github.com/rpldy/react-uploady/discussions/133).

[2021-02-19 08:17] #134 closed

[2021-02-19 08:19] void-m4110c opened #135 "Need response from upload"
Hi,

I'm uploading a csv file and some additional parameters to a server.

It's just an upload button to select the file in an uploady component, which is embedded in a table:

[code]

I know that the upload works correctly, but is there any way that I can get the HTTPResponse from this upload?

Thanks!

Oh, and don't keep being a dick!

[2021-02-19 08:29] yoavniran commented on #135
@void-m4110c Ive replied to you in both times you opened the issue already. Re-creating the issue wont give you more information.
This is your first and last warning about interacting with this repo in a respectful manner. Next time you will be blocked

[2021-02-19 08:29] #135 closed

[2021-02-19 08:38] void-m4110c commented on #135
I'm afraid, that's not true. You closed my first request without any answer. Please look it up.

I thought you did the same with my second try. However I see now, that there is a response.

My mistake. Sorry for that

[2021-02-19 08:43] yoavniran commented on #135
look closely at the thread on the first issue:

<img width="1334" alt="Screen Shot 2021-02-19 at 10 40 28" src="https://user-images.githubusercontent.com/1102278/108479966-0ab60680-729f-11eb-9029-f6c36f24f3d2.png">

The issue was transferred to a discussion, thats why it was closed
If you have more questions you can add them there

[2021-02-19 08:49] void-m4110c commented on #135
Aah I see now. This is new... Ok, sry and thx again.

[2021-02-24 05:53] plamber opened #140 "Is there a way to manipulate the HTTP headers before uploading a file?"
**Is your feature request related to a problem? Please describe.**
I was looking for a way to manipulate the header information before uploading a file. We have an API that requires a Baerer token for authentication. Before triggering the upload process I would need to retrieve the baerer token and update the header information before posting the file.

Unfortunately, I haven't found an example ho

[2021-02-24 09:09] yoavniran commented on #140
moving to [discussions](https://github.com/rpldy/react-uploady/discussions). will answer there

[2021-02-24 09:09] #140 closed

[2021-02-25 13:57] yoavniran opened #143 "currentBatch is set incorrect when concurrent uploads are allowed"
issue with combination of autoUpload = false and concurrent uploads being allowed
the currentBatch id will be set to the latest added batch while the first batch hasnt been processed yet.

_Originally posted by @LukasOchmann in https://github.com/rpldy/react-uploady/discussions/136_

[2021-02-27 09:29] #143 closed

[2021-03-02 08:30] aleksander-lurie opened #146 "Retry hooks not works with tus-uploader"
Hi

I'm trying to implement retry functionality following this instruction
https://react-uploady-storybook.netlify.app/?path=/docs/retry-hooks--with-retry

Unfortunately looks like its working only with regular UploadyContext. Im using TusUploady and got error

`Uploady - valid UploadyContext not found. Make sure you render inside <Uploady>`

It's actually implemented for tus uploader?

[2021-03-02 09:17] aleksander-lurie opened #147 "Completed shows wrong value after reupload using retryEnhancer"
**Describe the bug**
Using tus-uploader with retryEnhancer it's correctly continue upload a chunks after eg. refreshing page.
item.completed property from `useItemProgressListener` event start counting from the beginning, also `item.loaded` property looks the same.

**Expected behavior**
Uploader should provide a correct values including previously successfully uploaded chunks

**Versions**
[code]

[2021-03-02 10:30] yoavniran commented on #146
Hey @aleksander-lurie
Im not aware of an issue such as you described.
See this [sandbox](https://codesandbox.io/s/react-uploady-tus-uploady-retry-qyui9?file=/src/App.js), retry and tus-uploady work together.

The error you reported occurs when trying to access Uploady outside of <Uploady> render tree. Check your code and see whether that's the case.
If you cant find the issue, please link to a rep

[2021-03-02 10:33] yoavniran commented on #147
thanks @aleksander-lurie
sounds like a bug. I will investigate

[2021-03-02 11:04] aleksander-lurie commented on #146
Looks like i've implemented it similar way. Please don't close the issue yet. I'll investigate it today evening and provide more detailed informations

[2021-03-04 13:12] cristianbuta opened #149 "Uncaught ReferenceError: process is not defined in Logger"
**Describe the bug**
Using the Custom Upload Button (asUploadButton) implementation from the provided example throws the following error in console: Uncaught ReferenceError: process is not defined

**To Reproduce**
Steps to reproduce the behavior:
1. Set up a react project with typescript/webpack
2. Add the https://github.com/rpldy/react-uploady/tree/master/packages/ui/upload-button custom button

[2021-03-04 13:26] yoavniran commented on #146
@aleksander-lurie from your other issue I see youre not using the same version for all Uploady packages.
This is causing the issue most likely (Ive seen this happen recently)
Please upgrade all packages and check whether that solves the problem

[2021-03-04 14:05] cristianbuta commented on #149
Apparently I fixed the issue by adding `process.env` as a variable available at runtime through webpack.

`const webpack = require('webpack')
const dotenv = require('dotenv')

module.exports = {
  //...
  plugins: [
    // ...
    new webpack.DefinePlugin({
       'process.env': JSON.stringify(dotenv.config().parsed) // it will automatically pick up key values from .env file
    })
    // ...
  ]

[2021-03-04 14:06] cristianbuta commented on #149
``

[2021-03-04 14:12] aleksander-lurie commented on #146
Thanks a lot! You were right. After upgrade all packages to 0.11.0 everything works like a charm 😍

[2021-03-04 14:12] #146 closed

[2021-03-04 14:14] yoavniran commented on #149
Interesting. I dont think Ive ever encountered a situation when process.env wasnt available. Especially with webpack.
Curious that its not available in your setup.

In any case, Its a good idea for me to add protection against it not being there so I will do that shortly.

I do wonder though, if you build your app for production, wouldnt it make `process.env === "production"` ?

thanks

[2021-03-04 14:26] cristianbuta commented on #149
I don't have process.env available at runtime. I declare some variables as build args on process.env at build time (`process.env.NODE_ENV` as `production` included) which get compiled by webpack and replaces them with the actual values. So even if in my code I have a ```process.env.exampleValue``` when it is gonna be compiled it will no longer look like that.

And if you wonder then why isn't it w

[2021-03-04 14:41] yoavniran commented on #149
Still curious. This is React's index.js:

[code]
I wonder how it works and Uploady's check doesnt.

[2021-03-04 14:55] cristianbuta commented on #149
I am not compiling Uploady with webpack so any process.env variable that I inject into my code won't be available there because webpack is not even parsing those files.

[2021-03-04 15:15] yoavniran commented on #149
Wouldnt that be the same for React though?

Uploady accepts a `debug` prop that enables debugging. This is another way if someone wants to enable it from bash/env

[2021-03-04 20:43] cristianbuta opened #151 "Uncaught Invariant Violation: Uploady - valid UploadyContext not found"
Describe the bug
Using the Upload Drop Zone implementation from the provided example throws the following error in console: Uncaught Invariant Violation: Uploady - valid UploadyContext not found. Make sure you render inside <Uploady>

To Reproduce

Set up a react project with typescript/webpack
Add the https://react-uploady-storybook.netlify.app/?path=/docs/upload-drop-zone--with-drop-handler
Visi

[2021-03-04 22:49] yoavniran commented on #151
@cristianbuta make sure your Uploady packages are of the same versions
currently you have a mix of 0.10 and 0.11 which is causing this issue
In the near future I plan  to  add a warning about this mismatch

[2021-03-04 22:49] #151 closed

[2021-03-05 07:27] #149 closed

[2021-03-05 23:12] yoavniran commented on #149
@cristianbuta version 0.11.1 is out with a fix.
Would love to hear if it solves the problem for you

[2021-03-07 12:42] aleksander-lurie commented on #147
This issue still persists after upgrade all packages to latest versions

[2021-03-07 22:06] yoavniran commented on #147
@aleksander-lurie 0.11.2 is out with a fix
Please let me know if youre still having issues after upgrading

[2021-03-08 07:57] aleksander-lurie commented on #147
I cant use the latest version of packages (0.11.2) after upgrade i got: `ReferenceError: BUILD_TIME_VERSION is not defined`

`node_modules/@rpldy/shared-ui/lib/esm/uploadyVersion.js:5`
[code]

[2021-03-08 08:26] yoavniran commented on #147
There's a build issue with 0.11.2 (will deprecate it)
I will fix and publish a new version and let you know
thanks for trying

[2021-03-08 15:11] yoavniran commented on #147
0.11.3 is out. Please try

[2021-03-08 16:54] aleksander-lurie commented on #147
Well done! Now it works perfectly 🤌  Thank you a lot 🙏  😃

[2021-03-12 09:29] aleksander-lurie commented on #147
Hi again @yoavniran
Unfortunately still something is wrong. At this moment uploady correctly re-initialize current status of the partially uploaded file but.... looks like you forgot sum up or took wrong filesize (only remained part we have to upload, without already uploaded chunks) to calculate how much still have to be uploaded. So at the and progress shows 100% too early.

Example:

File size

[2021-03-12 20:32] yoavniran commented on #147
strange. Can you log to console from the useItemProgressListener callback and write out the `loaded`, `completed` and `file.size` prop?
Please share it here so i can take a look. Im not sure what is missing from the calculation yet

[2021-03-12 20:33] yoavniran commented on #147
Cheers! 😄

[2021-03-23 14:56] larrifax opened #158 "Promise support on types for `useRequestPreSend`"
**Describe the bug**
The [dynamic parameters guide](https://github.com/rpldy/react-uploady/blob/master/guides/DynamicParameters.md) states that:

This is not reflected in the Typescript types for `useRequestPreSend` defined [here](https://github.com/rpldy/react-uploady/blob/6bd768aa1137950d880884811dc6934bf5ba8a98/packages/ui/shared/types/index.d.ts#L81)

**To Reproduce**
Steps to reproduce the be

[2021-03-25 10:15] #158 closed

[2021-03-25 10:34] larrifax commented on #158
Thanks! 🎉

[2021-03-25 10:59] yoavniran commented on #158
thanks @larrifax -  0.11.4 is now published with the fix

[2021-04-16 05:57] dbousamra commented on #149
This still seems to be an issue

[2021-04-16 07:13] yoavniran commented on #149
@dbousamra ill need more information.  Please open a new issue with all the details/repro you can provide

[2021-04-16 07:15] yoavniran commented on #147
closing due to no info. Will reopen when more details are available

[2021-04-16 07:15] #147 closed

[2021-04-17 13:05] dbousamra commented on #149
Basically for me the issue is occurring because I am running in an environment where `process` is not defined. The current code doesn't check for existence of process before dereferencing it:

https://github.com/rpldy/react-uploady/blob/master/packages/core/shared/src/utils/isProduction.js

Why is process undefined? I am still digging into it. It seems to be related to some changes vite has made w

[2021-04-21 11:04] gsteenkamp89 opened #163 "Typescript error inside @rpldy/uploady/types/index.d.ts"
**Describe the bug**
There is a Typescript error in @rpldy/uploady/types/index.d.ts(3,13).
A `type` called `InputRef ` is being imported to `@rpldy/uploady/types/index.d.ts` from `@rpldy/shared-ui`
The type `InputRef` is already declared a type upon export inside `@rpldy/shared-ui`, but is being *redeclared* as a type upon import inside `@rpldy/uploady/types/index.d.ts`, causing a Typescript error

[2021-04-21 11:30] yoavniran commented on #163
hey @gsteenkamp89
As far as i can tell (and Im not a TS expert), there is no issue with the way the type is imported.
I run TS compile as part of Uploady's build process and it doesnt complain.
I just created a new CRA with TS and installed the Uploady dependencies. I then ran `yarn start` and it succeeded with no errors.

It installed TS 4+ but even if I downgrade to TS 3.7.2 as you mentioned, Im

[2021-04-21 12:04] gsteenkamp89 commented on #163
That's really strange. Unfortunately this is happening inside a client repo so I can not share it just yet. I will try to duplicate this issue in a separate repo and post it here. :)

[2021-04-21 12:46] gsteenkamp89 commented on #163
Okay this turned out to be a Typescript compiler issue. I changed Typescript version and since I'm using Yarn I also added *resolutions* field to package,json and that fixed the issue.
Thanks for the help!
[code]

[2021-04-21 12:47] #163 closed

[2021-04-29 00:03] zgottlieb opened #164 "Type error on useRequestPreSend when returning false"
**Describe the bug**
The documentation for `useRequestPreSend` states that this hook is cancellable, meaning that the hook's callback function should be able to return `false` in order to cancel the upload. This works when implemented, however Typescript complains about the return type of the callback function when `false` is returned.

This error makes sense given that the return type for this ca

[2021-04-29 09:45] yoavniran commented on #164
hey @zgottlieb , good catch. I'll create a fix shortly and publish soon. thanks

[2021-04-29 10:23] #164 closed

[2021-04-29 11:58] yoavniran commented on #164
@zgottlieb 0.11.5 is out with a fix. Please confirm it solves your issue

[2021-04-30 19:12] zgottlieb commented on #164
Thank you for jumping on this so quickly!

I installed 0.11.5 and I see that the typings are updated, however for my specific use case I still get a TypeError. My use case of `useRequestPreSend` returns a promise that conditionally returns either a PreSendResponse or `false`, so I suppose `Promise<PreSendResponse | boolean>` would also have to be added to these typings.

[2021-05-01 07:53] yoavniran commented on #164
just the thing that makes me hate TS... 😞
Will add the fix shortly

[2021-05-02 07:06] yoavniran commented on #164
@zgottlieb plz check 0.11.6.

[2021-05-02 17:50] mart-jansink opened #168 "Allow selecting both directories and files for upload"
**Is your feature request related to a problem? Please describe.**
My users need to be able to select both directories and files for uploads. This sadly can't be done with in one go because setting the `webkitdirectory` attribute disables the selection of single files (at least in Chrome on macOS). The best approach I found is providing the user with two buttons: a "upload files" and "upload direc

[2021-05-03 16:50] yoavniran commented on #168
Hi @mart-jansink
This should be possible using the custom input setup. It was mostly documented under the [useFileInput](https://github.com/rpldy/react-uploady/tree/master/packages/ui/uploady#useFileInput) hook info.

To help make it clearer, I just published a new guide: [Custom Input](https://github.com/rpldy/react-uploady/blob/master/guides/CustomInput.md)
Specifically the [custom button](https

[2021-05-04 21:13] tacohiddink commented on #168
Hi @mart-jansink
Why not use the Drag & Drop component (this enables dragging of files and complete folders) and combine that with a button (to select files only)

[2021-05-04 21:36] mart-jansink commented on #168
@tacohiddink Sadly drag&drop doesn't provide the files in nested directories, nor does it give it a `webkitRelativePath` that you do get using the `webkitdirectory` attribute on the file input. And for some of the content that my users can upload the directory structure is quite important to retain. At the same time, these directories can be really big (100GB+) so zipping them isn't always an opti

[2021-05-04 23:53] tacohiddink commented on #168
@mart-jansink maybe I am missing something, but I am able to drag and drop complete nested directories onto the d&d component.
Did have to provide these settings:

`htmlDirContentParams={{ recursive: true, withFullPath: true}}`

[2021-05-05 06:16] yoavniran commented on #168
@mart-jansink im conflicted over exposing a ref to the internal input.
Im not sure if in the long run it will be good to have that part of the public API.
That is why I allowed handing a custom input from the outside for advanced use-cases that are a small fraction of what users typically require.
I'll keep this in mind and think about whether its something to add in the future.

For now Ill move

[2021-05-05 06:24] #168 closed

[2021-05-07 13:36] zgottlieb commented on #164
Works! Thanks again @yoavniran!

[2021-05-11 10:56] yoavniran opened #173 "useFileInput should return internal input"
from: #169

if useFileInput hook is called without parameters, it should return the internal file input
in this case, Uploady should regard the file input as if it was provided as custom input (doesnt mean anything at this point)

[2021-05-12 07:34] #173 closed

[2021-05-19 19:22] max-l commented on #149
I'm getting the problem with version  @rpldy/uploady": "^0.12.0"

[2021-05-26 20:37] ricardopacheco opened #180 "NativeUploady: Documentation example is not working"
**Describe the bug**
Event onPress is not trigged!

**To Reproduce**
Steps to reproduce the behavior:
1. Create a react native app by cli;
2. Follow the official uploady documentation;
3. Click on Button
4. See error (in this case, not trigged the event);

**Expected behavior**
Expect when press on onPress is trigged evebt!

**Versions**
@rpldy/native-uploady 0.12.0
react 17.0.1
react-native 0.64.

[2021-05-27 08:25] yoavniran commented on #180
@ricardopacheco from the description you shared, this doesnt seem to be an Uploady issue. The onPress handler isnt Uploady code.
if your event handler isnt being fired, you will need to debug why thats the case.

[2021-05-27 12:50] zgottlieb opened #181 "Type error when using useFileInput() without passing a parameter"
**Describe the bug**
A type error occurs when using `useFileInput()` without passing parameter, which should be allowed in the latest version of react-uploady (e.g. for getting reference to the internal file input https://github.com/rpldy/react-uploady/blob/master/guides/CustomInput.md#access-uploadys-file-input)

**To Reproduce**
Use the useFileInput hook like so: `const fileInputRef = useFileInp

[2021-05-27 13:27] ricardopacheco commented on #180
@yoavniran very simple, in this case:

Original code from documentation: (not work)
[code]

When i  changed by:

[code]

the event piFile trigged.

[2021-05-28 06:42] yoavniran commented on #180
thanks @ricardopacheco
i have almost no experience with RN but the code in the doc was copied from a working project I used to test NativeUploady.
At least it did with the RN version I used at the time.

I dont really understand why it wouldnt work now and why your example does.

I also dont understand how your example uses hooks (useCallback and useContext) outside of a Component function.

[2021-06-04 10:55] vinodkhandelwal opened #185 "Change send method to chunkedSender throwing error"
Hi,

I am trying to use Uploader for chunked upload and changing send method to Chunked sender. Sample code below -

import createUploader, { UPLOADER_EVENTS } from "@rpldy/uploader";
import {createChunkedSender} from "@rpldy/chunked-sender";

 const uploader = createUploader({
      autoUpload: false,
      grouped: true,
      destination: { url: "http://localhost:3001" },
      params:{"name":

[2021-06-05 18:41] yoavniran commented on #185
Hey @vinodkhandelwal
The easiest way to use chunked sender is through its enhancer:

[code]

Ill move this to the discussions area so it can be useful for others in the future.

Let me know if it works for you with the suggested code

[2021-06-05 18:42] #185 closed

[2021-06-07 06:26] yoavniran commented on #180
need to check documentation example and update as needed

[2021-06-09 16:29] pbaker0804 opened #190 "WebKitFormBoundary's are being added to all S3 uploads"
I apologize if this has already been asked or if it's a non-issue, but I'm trying to use this tool to upload into AWS S3 and WebKitFormBoundary's are being added to all file content-types that I upload.

Here's an example:
[code]

I'm following this article as a prototype that has react-uploady under the hood: https://dev.to/danstanhope/react-file-upload-using-s3-pre-signed-urls-1a6d

Here is a fu

[2021-06-10 10:43] yoavniran commented on #190
Hi @pbaker0804
These are added since by default Uploady uses [FormData](https://developer.mozilla.org/en-US/docs/Web/API/FormData) to upload files. Therefore, using `multipart/form-data`

This typically how servers are set up to receive files.

In case you want Uploady to avoid using FormData, you can set the prop: `sendWithFormData` to _false_

This will send the file as the body of the upload re

[2021-06-10 11:06] pbaker0804 commented on #190
That was it!  Thanks for the quick reply...

[code]

[2021-06-10 11:06] #190 closed

[2021-06-10 11:12] yoavniran opened #191 "chunked-sender - chunk start event - chunkCount property changes as chunks are uploaded"
Somewhere between bug & enhancement:

see description in discussion #189
https://github.com/rpldy/react-uploady/discussions/189#discussioncomment-851174

Two things should happen:

1. rename chunkCount prop to remainingCount (requires updating tus-sender)
2. add new prop: totalCount that will not change after chunk finishes

[2021-06-10 21:15] #191 closed

[2021-06-21 05:44] salomonvh opened #199 "ReferenceError: process is not defined"
**Describe the bug**
Using the Uploady component from the provided example throws the following error in console: ReferenceError: process is not defined

**To Reproduce**
Steps to reproduce the behavior:

1. Set up a react project with javascript/webpack
2. Add the code from the first example of https://github.com/rpldy/react-uploady.
3. Visit the app in the browser
4. See error

[code]

**Expecte

[2021-06-21 06:21] yoavniran commented on #199
hey @salomonvh
do you have a repo I can clone and check this issue with?

[2021-06-21 06:34] salomonvh commented on #199
@yoavniran Not right now I will need to create a minimal version.

[2021-06-21 07:04] salomonvh commented on #199
@yoavniran Here: https://github.com/salomonvh/minimal-react-webpack-babel-setup.git in the uploady-test branch. You will see the same error in the console after running npm install and npm start.

[2021-06-22 16:21] yoavniran commented on #199
thanks @salomonvh for the repro. I see the error. Will look into fixing soon

[2021-06-26 15:37] yoavniran commented on #199
@salomonvh 0.13.2 is out with a fix. Please confirm it works for you

[2021-06-26 15:37] #199 closed

[2021-06-27 10:26] salomonvh commented on #199
It is working now, thanks!

[2021-06-30 06:06] vinodkhandelwal opened #203 "Chunk Upload Progress Event Issues!"
I am trying to upload 2 files with chunk feature and using different events to use the progress event. But i see some discrepancy in the progress detail. Please see below the log message that i am getting.
[code]
Here are the issue that i am seeing -
 - Getting upload progress as 100% early even when all chunks are not upload.
 - Item.loaded value is way higher than total file size upload. In my e

[2021-06-30 11:39] yoavniran commented on #203
@vinodkhandelwal please share how you are initializing the uploader instance
preferably with a reproducing codesandbox/codepen or with a GH repo

[2021-07-04 09:54] yoavniran commented on #203
also, does the issue occur when you're uploading just one file or only with multiple?

[2021-07-08 12:39] hamavb opened #205 "Delete/remove file from batch"
**Is your feature request related to a problem? Please describe.**
a possible way to remove file from a batch.
after adding files (especially a large amount of files) users may want to remove some of them before event starting the upload process. and unfortunately, there's no way to do it. i think it will be possible if the internal state was exposed.

**Describe the solution you'd like**
add `del

[2021-07-10 07:46] yoavniran commented on #205
Hey @hamavb

There are at least a couple of ways to remove files from Uploady's batch.

There is the simple [File Filter](https://github.com/rpldy/react-uploady/blob/master/guides/FileFilter.md) method, this is the way to remove automatically based on application logic.

Then there is the way to do it using what I call the Queue approach. The term I used is "abort" but for the end-user this can be

[2021-07-19 10:52] lindamacdonald opened #209 "Image compression on upload"
Hey there guys :) would be fabulous to have image compression on uploaded images to make our apps as performant as possible. I have only been able to find one way to do this but as you can see this isnt really a specific option for react:

https://www.jpegmini.com/developers

images being the number 1 culprit when it comes to load performance it is really good to have images compressed. Of course

[2021-07-20 07:24] yoavniran opened #210 "Custom PreviewComponent with TypeScript?"
### Discussed in https://github.com/rpldy/react-uploady/discussions/206

<div type='discussions-op-text'>

<sup>Originally posted by **cbw** July 18, 2021</sup>
Has anyone gotten a custom `PreviewComponent` for `UploadPreview` to work in TypeScript?

I've been working off [Yoav's example](https://medium.com/swlh/adding-crop-before-upload-in-react-22dfcf3a95b7), however TypeScript is giving complai

[2021-07-20 08:20] yoavniran commented on #209
Hey @lindamacdonald
Media performance is a topic that is dear to my heart and close to home as I happen to work for [Cloudinary](https://cloudinary.com). Its a service that offers amazing tools and capabilities around compression, performance, and so much more...

However, this isnt an Uploady issue and I dont think compression should be done on the client/upload side. I think using a service like

[2021-07-20 08:20] #209 closed

[2021-07-20 08:25] yoavniran commented on #205
moving to discussions

[2021-07-20 08:25] #205 closed

[2021-07-20 08:26] yoavniran commented on #203
thanks @vinodkhandelwal
im currently on vacation so ill have a look at this when I get back in a few days

[2021-07-22 14:46] yoavniran commented on #210
answer given in #206
Not an Uploady issue after all.

[2021-07-22 14:46] #210 closed

[2021-07-27 13:51] maxsalven opened #220 "Support promises in fileFilter and useItemStartListener"
`async` function calls aren't supported in `fileFilter` and `useItemStartListener`

This currently accepts every file:
[code]

This currently accepts no file:
[code]

It would be nice to see these supported. An example use case is checking the duration of a video file before accepting it.

[2021-07-27 14:31] yoavniran commented on #220
Hey @maxsalven
**useItemStartListener**, like the other "cancellable" event handlers/hooks, supports promises. I tested it just now to make sure. I'd love to see a reproducing sandbox/fiddle where this isnt the case.

As for **fileFilter**, I agree that it would have been nice to make it async as well. I looked at it recently again but the way its currently implemented doesnt make it simple to cha

[2021-07-29 09:05] yoavniran commented on #203
@vinodkhandelwal 0.13.3 is now out.
Should solve your issue. Please report if there are still issues

[2021-07-29 09:05] #203 closed

[2021-08-08 07:29] yoavniran commented on #220
closing due to inactivity

[2021-08-08 07:29] #220 closed

[2021-08-09 10:17] maxsalven commented on #220
Apologies for the delayed response.

I managed to figure it out, thank you.

[2021-08-30 16:53] craigcosmo opened #227 "Unable to resolve path to module '@rpldy/upload-button'"
right from the example code, I got this error

<img width="800" alt="Screen Shot 2021-08-30 at 11 53 13 PM" src="https://user-images.githubusercontent.com/538657/131375697-b6f2e8e0-e05f-4c45-bb37-35da6a048cc7.png">
<img width="486" alt="Screen Shot 2021-08-30 at 11 53 29 PM" src="https://user-images.githubusercontent.com/538657/131375736-ffa72e4a-821e-46f7-bb2c-c5f45a93496b.png">

[2021-08-30 17:15] craigcosmo commented on #227
I need to install them separately.

[2021-08-30 17:15] #227 closed

[2021-08-30 21:22] craigcosmo opened #228 "Expected drag drop context"
[code]

code right from the example, I got this error

<img width="947" alt="Screen Shot 2021-08-31 at 4 20 04 AM" src="https://user-images.githubusercontent.com/538657/131407265-cf60c91b-5af7-4785-bdc7-e4b1d9bf0ec8.png">

[2021-09-02 08:43] yoavniran commented on #228
Hey @craigcosmo
You're missing DndProvider, which needs to wrap around components that use hooks from the library.
Please refer to their [documentation](https://react-dnd.github.io/react-dnd/docs/api/dnd-provider).

You can see a working example in this [codesandbox](https://codesandbox.io/s/react-uploady-with-react-dnd-plyxq?file=/src/App.js).

[2021-09-02 08:43] #228 closed

[2021-09-08 16:14] creage opened #232 "UPLOADER_EVENTS.REQUEST_PRE_SEND: items array has undefined value"
**Describe the bug**
After upgrading to the 0.13.3 the `items` argument for `UPLOADER_EVENTS.REQUEST_PRE_SEND` listener has `undefined` instead of the `File` I'm trying to upload. It works on 0.13.2.

**To Reproduce**
Steps to reproduce the behavior:
1. Try to drop a file from your file system

**Expected behavior**
File should start to upload with proper headers in its request.

**Versions**
Chro

[2021-09-08 19:08] yoavniran commented on #232
thanks @creage definitely seems like a bug.
Curious how none of the automation tests caught this... :(
Will fix soon

[2021-09-09 09:52] yoavniran commented on #232
@creage 0.13.4 is available and should fix the problem.

[2021-09-09 09:52] #232 closed

[2021-09-20 06:51] maxsalven opened #235 "Chunked Upload with Cloudinary autogenerated public ids"
I'm trying to use ChunkedUploady with a large video file on Cloudinary.

I'm using an unsigned upload with an upload preset.

I have Cloudinary set to auto generate a random public id, I don't want the client to be allowed to specify the id.

The first chunk uploads successfully, but then the second chunk has an error:
`message: "Missing required parameter - public_id"`

Presumably the second chun

[2021-09-20 07:07] maxsalven commented on #235
I think I found a solution, using this help center article (I couldn't see any mention of this in the Cloudinary docs but that may well be user error):

https://support.cloudinary.com/hc/en-us/articles/208263735-Guidelines-for-self-implementing-chunked-upload-to-Cloudinary

"You must include the `X-Unique-Upload-Id` header and make sure it's identical (and unique) for all parts."

I utilized `useR

[2021-09-20 10:59] yoavniran commented on #235
Hi @maxsalven that's exactly the solution. I was sure I documented this more broadly.

It is being used exactly like that in [one of the stories in the repo](https://github.com/rpldy/react-uploady/blob/master/packages/ui/chunked-uploady/ChunkedUploady.stories.js#L41).

I will add it to the [Cloudinary Guide](https://github.com/rpldy/react-uploady/blob/master/guides/Cloudinary.md) as well.

Thanks!

[2021-09-20 10:59] #235 closed

[2021-09-27 21:21] gerwim opened #242 "tus-sender: resolveUploadUrl does not work properly when Location header is relative"
**Describe the bug**
400 bad request response upon uploading when using the official `tusdotnet` server library.

**To Reproduce**
Steps to reproduce the behavior:
1. Clone https://github.com/tusdotnet/tusdotnet
2. Run the `AspNetCore_netcoreapp3.1_TestApp`
3. Use it as a destination: `http://localhost:5006/files`
4. Check your browser's network tab

**Expected behavior**
There woudn't be a 400 ba

[2021-09-28 13:12] yoavniran commented on #242
Hi @gerwim I believe I understand the bug: Currently Uploady will concatenate the location header to the upload URL (from destination) even when the header starts with "/" so it should be absolute and therefore avoid the duplicate "/files/files".

Something does throw me off in your description though. You wrote that your destination is set to: "http://localhost:5006/files" (port: 5006) but you al

[2021-09-28 13:15] gerwim commented on #242
Hi @yoavniran,

Yes ;-)

I'm sorry, this is my mistake. I was debugging multiple versions of tusdotnet and had multiple projects. I've updated the description.

[2021-09-28 21:12] yoavniran commented on #242
@gerwim 0.13.5 is out and should fix the issue.
If you can, please confirm here. thanks!

[2021-09-28 21:12] #242 closed

[2021-09-29 08:18] gerwim commented on #242
@yoavniran Thanks for the quick fix! Can confirm it's working. 👍

[2021-10-03 14:10] TheMadKow commented on #242
Hey @yoavniran, after the update the following line caused an issue -

        uploadUrl = new URL(createUrl).origin.replace(/\/$/, "") + location;

My createUrl was relative, "/Files/Tus" and the fix's section supposed to handle absolute location.
My fix was to add absolute path in the end, but maybe it deserves another look :)

[2021-10-03 14:38] yoavniran commented on #242
hey @TheMadKow Im not sure I understand your issue or if there is one.
If there's a problem with the fix please open a new issue and add more details so I can check
thanks

[2021-10-04 08:01] TheMadKow opened #246 "tus-sender: resolveUploadUrl does not work properly when using relative path"
**Describe the bug**
While using relative path, first connection with server succeeds, and then fails.

When using url : '/relative-path/files' the client will fail due to the following error

tusSender.create: create upload failed TypeError: Failed to construct 'URL': Invalid URL
    at resolveUploadUrl (createUpload.js:12)
    at handleSuccessfulCreateResponse (createUpload.js:24)
    at createU

[2021-10-04 12:35] yoavniran commented on #246
thanks @TheMadKow its very clear now what the issue is.
I will issue a fix for this very soon

[2021-10-04 13:29] TheMadKow commented on #246
Thanks @yoavniran :)
Do let me know if more information is needed ^^

[2021-10-05 11:51] yoavniran commented on #246
@TheMadKow Just making sure, since you provide a destination without the origin and you want to return an absolute path from your TUS server. This means that the final upload URL will be just the absolute path.

Example:

`If`: Destination URL == `/Core/HandleTusFiles`
`and`: Location header == `/files`

Upload URL will be: `/files`

This is your expectation, correct?

[2021-10-06 11:07] yoavniran commented on #246
The problem is clear and I have a fix for it - #247
I just wanted to make sure the fix is what you need. I believe it is. I will merge later on today and release a new version

[2021-10-06 13:23] TheMadKow commented on #246
Thank you ! :)

[2021-11-04 09:36] yoavniran opened #256 "Holding cursor and folder over drop zone text causes flash"
### Discussed in https://github.com/rpldy/react-uploady/discussions/255

<div type='discussions-op-text'>

<sup>Originally posted by **littlejustinh** November  3, 2021</sup>
[Here is a code sandbox](https://codesandbox.io/s/crop-and-upload-react-uploady-fixed-aspect-simple-forked-y9xh3?file=/src/App.js)

I'm sure i've done something wrong with the style, but i believe i pulled it from the example

[2021-11-04 15:26] yoavniran commented on #256
closed by #257

[2021-11-04 15:26] #256 closed

[2021-11-13 06:27] CezarCretu opened #263 "Inconsistent undefined handling between original props and REQUEST_PRE_SEND overrides"
**Describe the bug**
Passing a parameter whose value is `undefined` in the initial `Uploady` props creates a request that does not contain that parameter. Setting that same parameter to `undefined` by using `REQUEST_PRE_SEND` produces a request that contains the parameter with a value of `undefined`.

**To Reproduce**
Given `const foo = undefined;`,

[code]

Uploady produces this form data:
[code]

[2021-11-14 08:50] yoavniran commented on #263
thanks @CezarCretu
is it just the (lack of) consistency that you find problematic? Or is there one scenario you prefer?
I actually didnt think FormData will send undefined values. I thought in the past it ignored these params.
In any case, my inclination is to remove `undefined` params from the data being sent. However, im just wondering if there is anyone that relies on this behavior. So I might

[2021-11-14 09:59] CezarCretu commented on #263
The lack of consistency is definitely the main issue. Regardless of which behavior you end up choosing, I think both extension points should have the same behavior.

As for which one is best, I think it's unequivocal that not including `undefined` values at all is better than adding those keys with a value of `undefined`. This distinction between `undefined` and something being not defined is very

[2021-11-17 08:36] #263 closed

[2021-11-17 08:38] yoavniran commented on #263
@CezarCretu merged PR #264 that will make the default behavior ignore undefined whether set from initial or preSend event/hook. Will publish 0.15.0 with the changes soon

[2021-12-10 15:44] chirag52999 opened #272 "Next Batch is not previewed till the first Batch is uploaded"
**Next Batch is not previewed till the first Batch is uploaded. **
when we start uploading one batch and while the first batch is uploading select the next batch to upload it has been added to the queue but not displaying/appending with the current batch.

**To Reproduce**
Steps to reproduce the behavior:
1. Use <UploadPreview rememberPreviousBatches PreviewComponent={QueueItem} /> for preview .
2

[2021-12-11 22:08] yoavniran commented on #272
Hi @chirag52999
this isnt a bug but by design.

However. I do like it as an enhancement request to allow you to choose the event to register to.
In your case you want the `useBatchAddListener` while the current event hook used is: `useBatchStartListener`.

What I'll probably do is make it possible to customize the hook used while keeping the current default so it doesnt change for those who wish t

[2021-12-16 10:32] #272 closed

[2021-12-23 22:14] bruceharrison1984 opened #277 "Custom uploader without url"
**Is your feature request related to a problem? Please describe.**
I'm wanting to use uploady for images, but I am using Supabase as my backend. It doesn't support SignedUrls for uploads, so the only way it can be used is via the SDK. I'm sure there are other scenarios where this happens as well.

**Describe the solution you'd like**
A way to pass a custom upload function that allows me to send th

[2021-12-23 22:41] yoavniran commented on #277
Hi @bruceharrison1984, I believe what you're asking for is already possible with Uploady as it is today.
Its pretty much what the custom senders ([chunked](https://github.com/rpldy/react-uploady/tree/master/packages/core/chunked-sender), [tus](https://github.com/rpldy/react-uploady/tree/master/packages/core/tus-sender), [mock](https://github.com/rpldy/react-uploady/tree/master/packages/core/mock-s

[2021-12-23 23:02] bruceharrison1984 commented on #277
That you very much @yoavniran! I read through the docs but didn't see any explicit mention of this so I incorrectly presumed it wasn't supported. I'll take a look, and thank you!

[2022-01-16 13:42] sylqiu opened #297 "More flexible upload destination"
I am trying to find how to upload with a service API such as firebase cloud storage instead of the destination URL.

Is it possible currently? If would be really nice to be able to configure the sender.

[2022-01-16 14:17] yoavniran commented on #297
hi @sylqiu

It will be great to understand your use case better.
What is it that you need to be more flexible exactly?

Uploady's sender works well for http end-points. There is a great ability for flexibility and configuration even at run-time and at the [batch](https://github.com/rpldy/react-uploady/tree/master/packages/ui/uploady#usebatchstartlistener-event-hook)/[request](https://github.com/rp

[2022-01-17 10:39] sylqiu commented on #297
Amazing! Thanks for your pointer, I am able to achieve the purpose by something like the following:
[code]
The ```send``` function is passed as an argument to the ```Uploady``` provider, and the ```url``` above is coming from the ```destination``` argument.

[2022-01-17 10:39] #297 closed

[2022-02-03 17:10] musicformellons opened #320 "Provide example combining react-easy-crop with react-uploady"
I try to combine these two and run into problems. As [react-easy-crop](https://github.com/ricardo-ch/react-easy-crop) is quite popular (and provides dragging of the picture, instead of dragging the cropselection) such an example might be worthwhile. [Here](https://stackoverflow.com/questions/70975321/combine-react-easy-crop-with-react-uploady) is more info on the problems I run into, including a c

[2022-02-03 22:29] yoavniran commented on #320
Hey @musicformellons,  I provided an answer with a [working adaption (csb)](https://codesandbox.io/s/react-uploady-crop-and-upload-with-react-easy-crop-5g7vw) over on stackoverflow.
Turning this into a discussion for others to find in the future.

Hope it helps

[2022-02-04 17:40] musicformellons opened #322 "Did not find `clearPendingOnAdd` in docs/api"
I found `clearPendingOnAdd` in some examples, but did not manage to find it in the docs/api. Seems to me it is missing?!

[2022-02-05 11:11] yoavniran commented on #322
Yes. Will add it in types and docs.
thanks!

[2022-02-05 15:44] #322 closed

[2022-02-05 15:48] yoavniran commented on #322
added: https://react-uploady.netlify.app/docs/api#clearPendingOnAdd

[2022-02-07 08:13] zouterover opened #330 "Link "Let's go uploading" in docs does not work"
On https://react-uploady.netlify.app/docs the link at the bottom to "Let's go uploading" goes to to:
https://react-uploady.netlify.app/getting-started/installation
and gives a 404

[2022-02-18 11:12] vonderheide opened #339 "chunked-sender v0.17.4 fails to slice"
Chunked uploads started to fail after upgrading chunked-uploady from 0.17.3 to 0.17.4.
Now, each chunk fails with "chunk failure - failed to slice".

I tracked this down to sendChunks.js:64. The blob is returned correctly from getChunkDataFromFile, but the setter of chunk detects that the proxy is unmodifiable and ignores the data. This causes the next line to throw a ChunkedSendError.

0.17.3 wor

[2022-02-18 11:19] yoavniran commented on #339
thanks @vonderheide
I actually just fixed this issue and am releasing the fix now (0.17.5)
I think it only affects dev time and not production builds but nonetheless, the fix will be out shortly

[2022-02-18 11:23] vonderheide commented on #339
Thanks, that was quick :-)
Yes, it looks like this will not happen if isProduction() returns true.

[2022-02-18 11:39] #339 closed

[2022-02-18 11:40] yoavniran commented on #339
@vonderheide 0.17.5 is out now. Please let me know if fixed or if you experience issues still.

[2022-03-10 15:39] yoavniran opened #343 "add ability to customize whether upload response is successful"
for #342

[2022-03-12 13:10] #343 closed

[2022-03-29 18:30] AJLemos opened #348 "useItemErrorListener() does not trigger when using a mock sender for unit tests"
**Describe the bug**

When using `getMockSenderEnhancer()` for unit tests, the `useItemErrorListener()` hook is not triggered when setting an error code to the mock enhancer. For example `getMockSenderEnhancer({ responseStatus: 500 })`.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a unit test using `getMockSenderEnhancer()` for a hook or component which uses the `useItemErrorListen

[2022-03-31 12:54] yoavniran commented on #348
Hi @AJLemos

Thanks for the very detailed issue description!

I recently added the [isSuccessfulCall](https://react-uploady.netlify.app/docs/api/#issuccessfulcall) prop that can be used to customize the sender's logic deciding whether a request was successful or not.

I will pass it to the mock sender so you can use it in your tests.
I should be able to release this in the next couple of days

[2022-03-31 16:03] AJLemos commented on #348
Fantastic. I look forward to testing it out. Thanks for the reply.

[2022-04-02 14:09] #348 closed

[2022-04-04 10:02] ThorPham opened #351 "How can i get current image data when send to server"
Thank for great library . I have a question.
I want to store image upload to useState .

[2022-04-04 16:20] yoavniran commented on #351
Hi @ThorPham
Will move this to the discussions area as this seems like a usage question.

Please do share more information on what exactly you're looking to achieve.

In short, you can use the [useItemStartListener](https://react-uploady.netlify.app/docs/api/hooks/useItemStartListener/) hook to do this.

The [Upload Preview](https://react-uploady.netlify.app/docs/api/components/uploadPreview/) com

[2022-04-06 16:48] AJLemos commented on #348
This worked well for our unit test coverage. Thanks for the addition!

[2022-04-06 17:20] yoavniran commented on #348
glad to hear @AJLemos !

[2022-04-08 23:17] AJLemos opened #354 "`onDragOverClassName` styles not removed when files are not dropped"
**Describe the bug**

The `onDragOverClassName` applied to the `<UploadDropZone>` component is not removed when files are hovered over the browser, but instead of being dropped are moved back to the finder window.

This is on MacOS (I have not tested Windows yet).

**To Reproduce**
Steps to reproduce the behavior:
1. Drag one or more files over the drop zone created by `<UploadDropZone>`
2. Instea

[2022-04-09 10:15] yoavniran commented on #354
Hey @AJLemos
I think the issue here is that your indicator overlay covers the entire page.
I will look into fixing this

thanks

[2022-04-09 21:51] yoavniran commented on #354
@AJLemos With your example (very useful), and as I suspected, I've identified the issue as having to do with the nature of showing an overlay across the d&d area.

I dont think there's a clean way for me to consistently remove the drag-over class without user-code help, and also support other use-cases and edge-cases.

So, I suggest that I'll provide an optional callback prop that you can implemen

[2022-04-11 15:23] #354 closed

[2022-04-11 16:01] yoavniran commented on #354
@AJLemos released in 0.18.2 - https://react-uploady.netlify.app/docs/api/components/uploadDropZone/#shouldRemoveDragOver

[2022-04-11 16:58] mwdiaz commented on #354
@yoavniran thanks for the quick fix! I work with AJ (he's out on vacation for a couple weeks), and I'll make time today to pull in the new version and verify that it works well for our use case.

[2022-04-12 06:39] yoavniran commented on #354
thanks @mwdiaz
Out of curiosity, where do you guys work/use Uploady?

[2022-04-12 18:51] mwdiaz commented on #354
@yoavniran I just applied the update and it works nicely! We work at [SmugMug](https://www.smugmug.com/), and we're using Uploady as the foundation for building out a refreshed uploader UI in our newer codebase.

[2022-04-12 22:51] AbdeenM opened #358 "React Uploady + Multer"
Hi,

Awesome work you have done here!
I can not seem to be able to handle `folder` uploads on my backend side. is there any guide or example i can use to handle this?
What am doing is:
**Front-end:** Running a react add and using your `upload-drop-zone` package to initiate the uploading such as:
`
<Uploady destination={{
  ...createToken(Env.STORAGE_JWT_TOKEN),
  params: { ... },
  url:  'my-serve

[2022-04-13 06:10] yoavniran commented on #354
awesome, thanks for sharing :)
Glad to hear it works

[2022-04-13 06:27] yoavniran commented on #358
hi @AbdeenM thank you! :)
I'll move this to the discussions area since this is a usage question.

I will give this a look as soon as I can and try to create a working example for you

[2022-04-13 11:45] yoavniran commented on #354
BTW, if SmugMug wants to become an Uploady [sponsor](https://opencollective.com/react-uploady), I'd be very happy to promote it here on GH and the Uploady site.

[2022-04-15 07:39] mwdiaz commented on #354
Thanks, the library has been awesome for us so far! I'm looking into what we can offer as far as sponsoring the project, stay tuned.

[2022-04-25 09:29] giordifungula opened #361 "Uploady Component causes hydration error with React version 18 ( using next js specifically )"
**Describe the bug**
A clear and concise description of what the bug is.
I am migrating old code base to new and latest version of react using next js. We were using the uploady component to contain a component which handles file upload as recommended by the documentation, however, when using react version 18 ( latest version ) and just simply using the <UploadyComponent /> causes the following er

[2022-04-30 00:05] AJLemos opened #364 "Unexpected bug when using `composeEnhancers()`"
**Describe the bug**

Uploady hooks fail to be called when applying enhancers via `composeEnhancers()` in a scenario where the UI is rendered on-demand when files are dropped in `<UploadDropZone>`.

We would like to launch an upload modal with a list of uploads and upload progress when files are dropped on the page. To show the upload modal when the first batch of files are dropped we need to set

[2022-04-30 02:05] jerrod-lankford opened #365 "useItemFinalizeListener not called after successful upload"
**Describe the bug**
When using react-uploady in conjection with react-cropper with a successfull I don't see any lifecycle events other than `start` and `progress`. My server is returning 201 yet finalize listener is never invoked. Finalize listener is invoked on an error response.

**Expected behavior**
Expect finalize listener to be invoked after successful server response.

**Versions**
0.18.2

[2022-05-01 10:49] yoavniran commented on #364
hey @AJLemos
very strange bug. Will look into it, thanks!

[2022-05-01 12:53] yoavniran commented on #364
The example sandbox you shared (and I assume similarly this happens in your app too) re-renders &lt;Uploady&gt; when `showList` updates to true as you set the state on the app component.

`composeEnhancers` is called inside the comp function and therefore generates a new reference, causing Uploady to [re-create](https://github.com/rpldy/react-uploady/blob/master/packages/ui/shared/src/hooks/useUpl

[2022-05-01 13:09] yoavniran commented on #365
Hey @jerrod-lankford thanks for reporting.
Im not familiar with this problem and there are automatic tests that ensure these events work as expected.

You can see in this sandbox, the finalized event is called as expected:

https://user-images.githubusercontent.com/1102278/166147379-79b366cf-eed1-4c78-b4d5-c32b42ff0811.mp4

If you can create a repro sandbox it will be very useful for me to debug.

[2022-05-02 16:03] AJLemos commented on #364
Thanks @yoavniran. I'll see if I can rework this and close this bug if you don't first.

[2022-05-04 11:27] yoavniran commented on #365
sandbox URL - https://codesandbox.io/s/react-uploady-item-finalize-5n0sev

[2022-05-06 13:37] yoavniran opened #369 "asUploadButton()'s onClick prop is missing"
### Discussed in https://github.com/rpldy/react-uploady/discussions/368

<div type='discussions-op-text'>

<sup>Originally posted by **AJLemos** May  6, 2022</sup>
We are currently using the `asUploadButton()` HOC for a custom upload button.

The docs for this HOC state:

However, `asUploadButton` returns `UploadButtonProps`, which does not include an `onClick` prop ([seen here](https://github.com

[2022-06-13 06:34] Hocdoc opened #376 "Uploady - Valid UploadyContext not found. Make sure you render inside <Uploady>"
**Describe the bug**

When I use the example for `asUploadButton` from https://react-uploady.org/docs/api/hocs/asUploadButton/#example I get the following error.

[code]

- When using V. 0.14.1 of the uploader packages everything works fine.
- After updating to V. 1.0.0 the error occures. I have already tried to remove `node_modules` and reinstall all packages.

**Versions**

- "@rpldy/upload-butt

[2022-06-13 08:15] yoavniran commented on #376
Hey @Hocdoc I'll need a reproducing code example as I cannot reproduce it myself.
See this codesandbox - https://codesandbox.io/s/react-uploady-asuploadbutton-9ycrc

It uses 1.0.0 and the "button" works as expected.

[2022-06-14 09:59] Hocdoc commented on #376
Hm you are right, this minimal example works.

In my bigger code base the update didn't worked as expected even after spending hours about this issue.
I will stay with V. 0.14.1 and try to find the error and create a minimal not-working example in the next weeks. In the meantime I close the issue.

Thanks for your effort!

[2022-06-14 09:59] #376 closed

[2022-06-16 14:47] yoavniran commented on #376
@Hocdoc Id suggest starting with `yarn why` on the @rpldy/* packages. This error is almost always related to multiple versions being installed.

[2022-06-21 12:36] Ruchika2224 opened #377 "How can I check the file Data after I selected it and validate for aspect ratio of image?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-07-05 10:16] yoavniran commented on #377
Hey @Ruchika2224

sorry for the late reply, it has been a crazy period recently.

You can see this [sandbox](https://codesandbox.io/s/react-uploady-accept-filter-9ke9h?file=/src/App.js:212-224) for example of filtering based on file size. you can modify it to filter based on aspect-ratio.

You can also cancel uploads (if invalid aspect-ratio) with the [useItemStartListener](https://react-uploady.o

[2022-07-09 00:19] AJLemos opened #379 "Uncaught TypeError when uploads are aborted while still processing in `useRequestPreSend()`"
**Describe the bug**

[useRequestPreSend()](https://react-uploady.org/docs/api/hooks/userequestpresend/) can return a promise. This is useful when each upload requires asynchronous processing before uploading actually begins. Some use case examples might be making a network request to check for duplicate files before uploading the actual binary, or creating a hash of the file to send with the uplo

[2022-07-10 08:38] yoavniran commented on #379
thanks for reporting @AJLemos
will look into it

[2022-07-17 10:02] #379 closed

[2022-07-19 14:40] yoavniran commented on #379
@AJLemos version 1.0.1 is now out

[2022-07-20 09:03] yoavniran opened #386 "Reordering items array in pre-send/batch-start throws error"
### Discussed in https://github.com/rpldy/react-uploady/discussions/380

<div type='discussions-op-text'>

<sup>Originally posted by **dz3n** July 12, 2022</sup>
Hi,

I'm trying to reverse the batch in order to keep it on the previewComponent in same order as I store it in database.

[code]

I used this event, and it works, but now the uploading start from right to left which is kinda annoying.

C

[2022-07-24 11:49] yoavniran opened #389 "Implement a more performant abort-all mechanism for large count of queue items"
Implement according to [RFC](https://github.com/rpldy/react-uploady/discussions/387)

[2022-07-25 12:10] yoavniran commented on #386
Closing for now as requires a complex refactor - will revisit in the future

[2022-08-21 07:21] yoavniran commented on #389
done in #392

[2022-08-21 07:21] #389 closed

[2022-08-25 08:21] MTG2000 opened #399 "How to remove image from previews queue??"
Hi there.

I've started just recently using this library, so I'm not yet very familiar with all of its features.
But I wanna say that this is some really really awesome work!!
I think this seems so far the easiest file uploading library I've ever used.

I'm trying to build a multi-images uploading component, where previews are shown for each image while it's being uploaded.
And things are good for

[2022-08-26 11:58] yoavniran commented on #399
Hi @MTG2000

Thanks for the feedback. Glad to hear you find Uploady easy to use. That has always been one of the main goals :)

As to your question. I think this [code example](https://codesandbox.io/s/react-uploady-with-antd-upload-with-preview-progress-d7o3w?file=/src/App.js) will help you. It shows how a more complex queue UI can be achieved.

If you want to remove the item from the UI, its jus

[2022-09-09 09:56] Goowwy commented on #151
i have same issue
Uncaught Invariant Violation: Uploady - Valid UploadyContext not found. Make sure you render inside <Uploady>

version is the same
"@rpldy/upload-button": "^1.1.0",
    "@rpldy/upload-drop-zone": "^1.1.0",
    "@rpldy/upload-preview": "^1.1.0",
    "@rpldy/uploady": "^1.1.0",

[2022-09-12 10:48] yoavniran commented on #151
@Goowwy I recommend deleting node_modules and reinstalling. There shouldnt be a problem when all packages are synced.
let me know if this helps or not

[2022-10-10 13:09] mathijsco opened #407 "Typings mismatch of retry-hooks package"
**Describe the bug**
The typings of the retry-hooks package do not match the functionality.

The hook `useRetry` and `useBatchRetry` are missing the second argument to provide the options.
This is regarding the types `RetryMethod` and `RetryBatchMethod`.

The callback of the hook `useRetryListener` contains a parameter of type `RetryEventData`. This type has an items collection of `string[]`. Howe

[2022-10-19 08:01] yoavniran commented on #407
thanks @mathijsco
I will look into this shortly

[2022-10-21 09:26] james-hinton opened #409 "ProcessPending set different destination per file"
**Describe the bug**
I want to be able to set a different destination for each file. I have to add filename to the destination URL (Azure blob).

**Expected behavior**
That it sends the file individually, but it processes every file with the same destination URL and ends up overwriting all the files with the same file

**Versions**
1.1.0

**Code**
Sorry I really struggle to format this, it just do

[2022-10-23 15:11] yoavniran commented on #409
hey @james-hinton
processPending isnt meant for individual handling of options.

What you're looking for is: [useRequestPreSend](https://react-uploady.org/docs/api/hooks/useRequestPreSend/)
it allows overriding options per file just before its uploaded.

This [guide](https://react-uploady.org/docs/guides/DynamicParameters/) should help get you started with that.

Let me know if you have questions.

[2022-10-23 15:11] #409 closed, assigned to nobody

[2022-10-24 11:44] #407 closed

[2022-10-24 12:08] yoavniran commented on #407
@mathijsco [1.2.0 released](https://github.com/rpldy/react-uploady/releases/tag/v1.2.0)

[2022-11-11 20:43] lughino opened #425 "FileFilterMethod typescript definition wrong"
**Describe the bug**
The typescript definition of [`FileFilterMethod`](https://github.com/rpldy/react-uploady/blob/master/packages/core/shared/types/index.d.ts#L13) seems to be wrong.
It states that accepts 3 arguments, but it receives [only one argument](https://github.com/rpldy/react-uploady/blob/master/packages/core/uploader/src/batch.js#L24).

The typescript signature is actually useful.
I was

[2022-11-12 10:34] yoavniran commented on #425
thanks @lughino, good catch.
I will add a fix to the 1.3.0 RC shortly.

[2022-11-13 13:16] #425 closed